body, html {
    height: 100%;
}
/* This file is where your CSS goes. When you start adding CSS, feel free to delete this comment */
p {
  font-size: 16px;
  font-family:"roboto";
  margin: 8px 20px;
  line-height: 24px;
}

.logo {
  width: 10%;
  /*margin: 0px 1250px 0px;*/
  float: right;
  margin: 0 30px;
}

img {
  width: 450px;
  margin: 20px 20px 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

h2 {
  margin: 20px 20px 0;
  font-family: "roboto";
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./img/guy2.jpg");

/* Set a specific height */
height: 70%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.h1-text {
    text-align: center;
    top: 40%;
    position: absolute;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }

  .intro-text {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 70px;
    margin-bottom: 60px;
    font-size: 18px;
    font-family: "Roboto";
  }

  /* .kayaking {
    width: 500px;
  } */
  button {
  align: center;
    top: 70%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 12px 40px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.8);
    color: #fafafa;
    font-family: "Roboto";
    border: none;
  }

  h3 {
    font-size: 40px;
    font-family: "Roboto";
    margin-top: 80px;
    margin-bottom: 80px;
    color: #ed3426;
    background-color: #f2f2f2;
    text-align: center;
    position: relative;
    padding-top:120px;
    padding-bottom: 120px;

  }

.icons {
  width: 70px;
  margin-left: 145px;
}

h4 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "roboto";
  font-size: 20px;
  text-align: center;
}

.center-text {
  text-align: center;
}

h5 {
  background-color: #242424;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Roboto";
  text-align: center;
}

.socialmediaicons {
  width: 30px;
  /*margin-top: 80px;*/
  /*float: right;*/
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 80px;
  }
